.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.part1 {
  flex: 0 0 20%;
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 40px;
  margin-right: 10px;
}

.greeting {
  flex-grow: 1;
}

.chat-icon {
  font-size: 24px;
}

.search-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-icon {
  margin-right: 10px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
}


.part2 {
  flex: 0 0 10%;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #6c63ff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.dog-image {
  width: 50px;
  height: auto;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.indicator.active {
  background-color: #6c63ff;
}
.part3 {
  flex: 0 0 70%;
  background-color: #dee2e6;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}